/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 6 version
*/

.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(white),
    to(black)
  );
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
} /* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */

  /* Blues */
  --clr-blue-black: 230 16% 7%;
  --clr-blue-dark: 235 19% 12%;
  --clr-blue-medium: 236 19% 17%;
  --clr-blue-accent: 219 28% 40%;
  --clr-blue-glass: 226 10% 46%;

  /* Purples */
  --clr-purple-dark: 263 30% 14%;
  --clr-purple-medium: 263 26% 34%;
  --clr-purple-accent: 263 23% 44%;
  --clr-purple-highlight: 264 65% 76%;

  /* Greens */
  --clr-green-highlight: 149 100% 50%;
  /* --clr-message-green: 120 34% 32%; */
  --clr-message-green: 120 100% 25%;

  /* Reds */
  /* --clr-message-red: 0 38% 28%; */
  --clr-message-red: 0 100% 50%;

  /* White/Black */
  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-900: 2.3rem;
  --fs-800: 1.4rem;
  --fs-700: 1.35rem;
  --fs-600: 1.21rem;
  --fs-500: 1.175rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;

  /* font-families */
  --ff-main: "Nunito", sans-serif;
}

@media (max-width: 49.313em) {
}

@media (max-width: 40.625em) {
  :root {
    /* font-sizes */
    --fs-600: 1.15rem;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* General stuff       */
/* ------------------- */

::-moz-selection {
  background-color: hsl(var(--clr-purple-accent));
}

::selection {
  background-color: hsl(var(--clr-purple-accent));
}

body {
  min-height: calc(100vh - 40px);
  font-family: var(--ff-main);
  background: hsl(var(--clr-blue-black));
  color: hsl(var(--clr-white));
  padding: 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: 300;
  overflow: visible;
}

@media (max-width: 40.625em) {
  body {
    padding: 14px;
  }
}

h1 {
  text-align: center;
  padding: 2rem 0 3rem;
  margin: 0;
  font-size: var(--fs-900);
  letter-spacing: 1px;
  font-weight: 500;
}

h2 {
  font-size: var(--fs-600);
  margin: 0;
  font-weight: 400;
  letter-spacing: 1px;
}

a {
  color: hsl(var(--clr-purple-highlight));
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  text-underline-offset: 5px;
}

/* i {
  color: hsl(var(--clr-white));
} */

/* ------------------- */
/* Layout              */
/* ------------------- */

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: width 0.25s ease-in;
  -o-transition: width 0.25s ease-in;
  transition: width 0.25s ease-in;
  grid-area: header;
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  padding-bottom: 3.5rem;
  -webkit-transition: width 0.25s ease-in;
  -o-transition: width 0.25s ease-in;
  transition: width 0.25s ease-in;
  grid-area: main;
}

aside {
  width: 350px;
  padding: 30px;
  position: fixed;
  background: hsl(var(--clr-blue-dark));
  top: 0;
  right: -350px;
  bottom: 0;
  -webkit-transition: right 0.25s ease-in;
  -o-transition: right 0.25s ease-in;
  transition: right 0.25s ease-in;
  grid-area: aside;
  overflow: hidden;
}

footer {
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  -webkit-transition: width 0.25s ease-in;
  -o-transition: width 0.25s ease-in;
  transition: width 0.25s ease-in;
  grid-area: footer;
}

/* ------------------- */
/* Components          */
/* ------------------- */

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px 20px 20px 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--clr-blue-accent));
  border-radius: 20px;
}

/* Header logo */

.header__logo {
  width: 50px;
  height: 50px;
}

.header__logo:hover {
  -webkit-animation: rotation 2s linear 0s infinite;
  animation: rotation 2s linear 0s infinite;
}

.header__logo-img {
  width: 50px;
}

/* Header nav */

.header__nav-toggle {
  position: relative;
  width: 36px;
  height: 28px;
}

.header__nav-toggle--line {
  width: 36px;
  height: 2px;
  background: white;
  display: block;
  position: absolute;
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.header__nav-toggle--line:first-child {
  top: 5px;
}

.header__nav-toggle--line:nth-child(2) {
  top: 13px;
}

.header__nav-toggle--line:last-child {
  bottom: 5px;
}

.header__nav-toggle:hover {
  cursor: pointer;
}

.header__nav-toggle.active:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  -o-transition: transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

.header__nav-toggle:hover .header__nav-toggle--line:first-child {
  top: 3px;
}

.header__nav-toggle:hover .header__nav-toggle--line:last-child {
  bottom: 3px;
}

.header__nav-toggle.active .header__nav-toggle--line:first-child,
.header__nav-toggle.active:hover .header__nav-toggle--line:first-child {
  top: 3px;
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

.header__nav-toggle.active .header__nav-toggle--line:nth-child(2) {
  opacity: 0;
}

.header__nav-toggle.active .header__nav-toggle--line:last-child,
.header__nav-toggle.active:hover .header__nav-toggle--line:last-child {
  bottom: 3px;
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

/* Card Filters */

.filter-bar__filters {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0 0 3.5rem;
}

.filter {
  font-weight: 700;
  font-size: var(--fs-500);
  letter-spacing: 0.5px;
  padding: 7px;
  border: 2px solid transparent;
}

.filter:hover,
.filter.active {
  cursor: pointer;
  color: hsl(var(--clr-purple-highlight));
  border: 2px solid hsl(var(--clr-purple-highlight));
}

.filter sup{
  color: hsl(var(--clr-green-highlight));
}

/* Cards Container */

.main__container,
.pinned__container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 30px;
}

.pinned__container {
  display: none;
}

@media (max-width: 40.625em) {
  .main__container,
  .pinned__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}